@import "style-variables";

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $header-footer-height;
  background-color: $background-color-dark;
  color: $text-color-invert;
  box-shadow: 0 0 $padding-size-medium 0 $shadow-color;

  .header-content {
    max-width: $max-page-width;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: $padding-size-medium;
    padding: 0 $padding-size-medium;
  }
}
