<ng-container *ngIf="users$ | async as users">
  <input
    #searchInput
    type="search"
    [value]="searchTerm$ | async"
    [placeholder]="'Search...'"
    (input)="onSearchTermChange(searchInput.value)"
  />
  <a
    class="pf-buttonlink primary"
    routerLink="/users/add"
    aria-label="Add user"
  >
    <fa-icon [icon]="faPlus" size="xs"></fa-icon>Add user
  </a>
  <h3>
    {{ users.length ? users.length : "No" }}
    {{ users.length === 1 ? "user" : "users" }} found
  </h3>
</ng-container>
